#comfortid-login-form > div{
  position: relative;
}
#comfortid-login-form > div .form-item, 
#comfortid-login-form > div #comfortid-openid-selector,
#comfortid-login-form > div .form-submit{
  display: inline;
}

a#comfortid-openid-selector{ 
  position:absolute;
  top:50%; 
  margin-top:-9px;
  margin-left:-20px; /*inline textfield adds a margin on the right; overlap it*/
}

a#comfortid-openid-selector img:hover{ 
  border: 1px outset black;
}

img.openid-icon{
  width: 16px;
  height: 16px;
}

#edit-comfortid-openid-identifier{
  margin-right: 17px;
  width: 30ex;
}

#openid-provider-list{
  position: absolute;
  top: 101%;
  z-index: 10;
  margin: 0 0 0 -20px;
  width: 0;
  background-color: white;
  border: 1px solid black;
}

#openid-provider-list > tbody {
  border: none;
}

.openid-provider-list-item-odd:hover, .openid-provider-list-item-even:hover {
  background-color: #CCCCCC;
  cursor: default;
}
.openid-provider-list-item-odd{
}

.openid-provider-shortcut{
  text-align: right;
  padding-right: 5px;
}

.openid-provider-icon{
  padding: 0;
}

.openid-provider-icon img{
  vertical-align: middle;
}

.openid-provider-name{
  text-align: left;
  padding-left: 5px;
}